body {
  margin: 0;
  padding: 0;
}


/* navbar */

#navbar {
  position: fixed;
  top: 0;
  height: 5vh;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-color: #931a25;
}

#navbar a {
  text-decoration: none;
  color: #f5efef;
  padding: 2em;
}


/* main */

main {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* welcome section */

#welcome-section {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #333333;
  color: #f5efef;
}

/* projects section */

#projects {
  height: 100vh;
  width: 100vw;

  /* make this grid instead of flex? or potentially carousel? */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-tile {
  padding: 2em;
  margin: 1em;
  background-color: #ffcb8e;
}

/* contact section */

#contact {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #f5efef;
  background-color: #e97171;
}

#contact-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#contact-link-container a {
  padding: 1em;
  
  text-decoration: none;
  color: #f5efef;
}