/* Fonts */

@font-face{
  font-family: 'Exo 2';
  src: url("../fonts/Exo_2/Exo2-VariableFont_wght.ttf");
}


/* colours:
  deep purple: #31112c
  navbar pink: #7d0633
  white bg + text: snow
  charcoal text: #333333
*/


/* general style */

body {
  margin: 0;
  padding: 0;
  
  font-family: 'Exo 2', sans-serif;
}

h2 {
  font-size: 3em;
}

/* navbar */

#navbar {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-color: #7d0633;
}

#navbar ul {
  margin: 0;
  padding: 0;
}

#navbar li {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  font-size: 1.2em;
  margin-right: 3em;
  padding: 0 1em;
}

#navbar a {
  text-decoration: none;
  color: #f5efef;
}

#navbar li:hover {
  background-color:  #66062b;
}

/* main */

main {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* welcome section */

#welcome-section {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
    rgba(105, 39, 95, 0.5),
    rgb(51, 18, 46, 0.5)
    ),
    url("../pics/coding2.jpg");
  background-size: cover;
  color: #f5efef;
  font-family: 'Exo 2', sans-serif;
}

h1 {
  font-size: 5em;
  font-weight: bold;
  margin: 2vh;
}

#welcome-section p {
  font-size: 1.6em;
}


/* projects section */

#projects h2 {
  grid-area: header;
  justify-self: center;
  align-self: center;

}

.playful {
  grid-area: playful;
}

.techDoc {
  grid-area: techDoc;
}

.cocomotion {
  grid-area: cocomotion;
}

.surveyForm {
  grid-area: surveyForm;
}

#projects {
  width: 100vw;

  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 0.5fr;
  grid-template-areas: ". header header ."
    ". playful techDoc ."
    ". cocomotion surveyForm .";
  gap: 4em;
  
  background-color: snow;
  color: #333333;
}

.project-tile {
  margin: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #7d0633;
  color: snow;
  /* border: 5px solid;
  border-color: #7d0633 snow snow snow; */
  box-shadow: 4px 5px 10px rgba(0,0,0,0.19);
}

/* .project-tile:hover {
  margin: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color:snow;
  box-shadow: 10px 10px 10px rgba(0,0,0,0);
  background-color: #7d0633;
} */

.project-tile figcaption {
  margin: 0.7em 0;
  font-size: 0.9em;
  text-justify: center;
}

.project-tile div {
  width: 100%;
  height: 100%;
}

#playful {
  background-image: url("../pics/playful.png");
  background-size: cover;
  background-position: center;
}

#techDoc {
  background-image: url("../pics/techDoc.png");
  background-size: cover;
  background-position: center;
}

#cocomotion {
  background-image: url("../pics/cocomotion.png");
  background-size: cover;
  background-position: center;
}

#surveyForm {
  background-image: url("../pics/surveyForm.png");
  background-size: cover;
  background-position: center;
}

.project-tile img {
  width: 20vw;
}

#projects a {
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
}

/* contact section */

#contact {
  height: 88vh;
  width: 100vw;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #333333;
  color: snow;
}

#contact-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#contact-link-container a {
  padding: 1em;
  font-size: 1.5em;
  
  text-decoration: none;
  color: snow;
}

.button {
  position: absolute;
  bottom: 5em;
  right: 5em;
  padding: 1em;

  text-decoration: none;
  background-color: #7d0634;
  color: #f5efef;

}
